{deps_dir,"deps"}.
{erl_first_files, ["emqttd_acl_mod.erl","gen_server2.erl"]}.
{erl_opts,[nowarn_deprecated_function,nowarn_export_all]}.
{deps, [
    {gproc,".*",{git,"git@github.com:uwiger/gproc",{tag,"0.6.1"}}},
    {kvs,".*",{git,"git@github.com:synrc/kvs",{tag,"master"}}},
    {lager,".*",{git,"git@github.com:skynet64/lager",{tag,"master"}}},
    {pbkdf2,".*",{git,"git@github.com:skynet64/pbkdf2",{tag,"master"}}},
    {emqttc,".*",{git,"git@github.com:skynet64/emqttc",{tag,"master"}}},
    {mochiweb,".*",{git,"git@github.com:skynet64/mochiweb",{tag,"master"}}},
    {esockd,".*",{git,"git@github.com:skynet64/esockd",{tag,"master"}}}
]}.

{shell,[{config, "sys.config"}, {apps, [emqttd]}]}.
